@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh;
  background: #E0E0E0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.input-reset {
  @apply border-none outline-none bg-none  shadow-none appearance-none;
}