@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh;
  background: #d4d4d4;
  overflow-y: hidden;
  overflow-x: hidden;
}

.input-reset {
  @apply border-none outline-none bg-none  shadow-none appearance-none;
}

/* scroll bar styles */

*::-webkit-scrollbar {
  width: 9px; 
  height:9px;              /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #919191a1;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.animate-loading {
  animation: loading 1.5s ease-in-out infinite;
}
